#box {
    width: 5px;
    height: 50px;
    position: absolute;
    top: 175px;
    background-color: rgb(125, 125, 125);
}
#screen {
    width: 400px;
    height: 250px;
    align-items: flex-end;
}
#indicator {
    width: 5px;
    height: 25px;
    margin-top: 25px;
    background-color: red;
}